
.mprisap-label {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding: .7em;
}

.mprisap-label-insensitive {
    font-size: 18px;
    font-weight: bold;
    color: #dddddd;
    padding: .7em;
}


.mprisap-label-small {
    font-size: 14px;
    color: #f0f0f0;
    padding: .7em;
}
